extends layout.pug 
include utils.pug

append head
   link(rel='stylesheet' href='/stylesheets/add-books.css')

block content 
   div(class="form-container ")
    h1(class="form-header") Add Book
    form(id='add-book-div' action="/bookshelves/add-book" method='post') 
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Title', 'bookName', book.title)
        +field('Author', 'author', book.author)
        +field('Published', 'published', book.published)
        div(class="submit-div")
          button(type='submit' class='btn submit') Add
          a(href='/add-book' class='a clear') Clear