extends layout.pug

include utils.pug

block content
  +validationErrorsSummary(errors)
  form(class="form" action="/users/login" method="post")
    input(type="hidden" name="_csurf" value=csrfToken)
    +field("Username", "username", username)
    +field("Password", "password", null, "password")
    div(class = "submit-div")
      button(type="submit", class='btn submit') Login
      a(href="/users/login" class="a clear") Clear
  div
    p: a(href="/user/signup") Do not have an account?
  div
    button(type='button' id='demo-button') Demo User
