extends layout.pug

block content
    div(id='person-image') Circle placeHolder
    div(class='center-info')
      a(id='user-name') User Name
      a(id='details') Details :
      a(id='Activity') Activity:

    div(id='persons-bookshelf') Person's bookshelf
