extends layout.pug

block content
  div(class='body-container')
    div(id='person-image')
    span(class='center-info')
    div(id='user-name') User Name
    div(id='details') Details :
    div(id='Activity') Activity:

    div(id='persons-bookshelf') Person's bookshelf
