@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
.page-content {
  display: flex;
  flex-direction: row;
  margin: 15px auto;
  justify-content: center;
  align-content: center;
}

.book-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* flex-grow: 1; */
  /* width: 800px; */
}

.book-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: rgb(229, 226, 226);
  border-radius: 20px;
  border: solid black 1px;
  width: 800px;
}

.book-title {
  font-size: 30px;
}

.book-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.review-container {
  border: solid black 1px;
}

.new-review {
  width: 300px;
}

.review-user-silhouette {
  font-size: 25px;
}

.review-rating {
  font-size: 20px;
}

.review-edit-btn {
  float: right;
}

.book-button-container {
  display: flex;
  flex-direction: row;
}

.modal-show {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.hidden {
  display: none;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.sidebar-container {
  padding: 50px;
  display: flex;
  flex-grow: 2;
}

#quote {
  font-size: 20px;
  font-weight: bold;
  font-family: "Parisienne", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sidebar-container {
  width: 300px;
  height: 500px;
  border: solid black 1px;
  border-radius: 20px;
  padding: 10px;
  display: flex;
}

#quote {
  font-size: 40px;
  font-weight: bold;
  font-family: "Parisienne", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 15px;
}

.tag-container {
  width: 300px;
  /* height: 400px; */
  display: flex;
  flex-wrap: wrap;
  border: solid black 1px;
  border-radius: 20px;
  padding: 10px;
  align-content: start;
  margin-top: 20px;
}

.book-tag {
  padding: 6px;
  border: solid black 0px;
  border-radius: 20px;
  background-color: rgb(125, 188, 242);
  margin: 8px;
  box-shadow: 0px 0px 10px black;
  transition: background-color 2s;
  /* height: 25px; */
}

.book-tag:hover {
  background-color: rgb(161, 230, 234);
}

.tag-input {
  margin: 10px;
}
