html {
    font-family: 'Noto Sans JP', sans-serif;
}

.add-shelf-span {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

#add-shelf {
    display: flex;
    justify-content: center;
}

a:hover {
    text-decoration:  underline;
}

a {
    color: #4c5460;
    text-decoration: none;
}

#no-books-div {
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-top: 200px;   
}

#my-books-div {
    display: flex;
    justify-content: center;
    /* grid-template-areas: 
    "1 2 3 4 5",
    "1 2 3 4 5",
    "1 2 3 4 5",
    "1 2 3 4 5";
    grid-template-columns: auto;
    grid-template-rows: auto; */
}

#my-books-text {
    font-size: 35px;
    padding-bottom: 15px;
}

#bookshelves-div {
    /* grid-row-start: 3;
    grid-column-start: 2;
    justify-self: start; */
    display: flex;
    flex-direction: column;
    padding-top: 50px;;
    padding-bottom: 100px;
    /* justify-content: a; */
}

#main-table {
    /* grid-row-start: 3;
    grid-column-start: 3; */
    /* grid-area: table; */
    /* justify-self: start; */
    padding-left: 100px;
    padding-top: 200px;    
}

th, td {
  border-bottom: 1px solid black;
  width: 200px;
  height: 100px;
  text-align: center;
}

.book_table {
    background-color: #EFD3D7;
    border: solid black;
    padding: 5%;

}

#bookshelves, 
#reading-activity,
#add-books,
#tools {
    background-color: #DEE2FF;
    border: solid black;
    padding: 100px;
    /* margin: 0; */
    text-align: start;
}   

#add-books-link {
    padding-top: 20px;
    border: solid black;
    color: #4c5460;
}

.ul-bookshelves {
    padding-bottom: 30px;
}

#delete-button {
    padding-left: 10px;
}

#bookshelves {
    font-size: 30px;
}
.bookshelf-li {
    font-size: 20px;
}