nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: #8E9AAF;
  align-items: center;
  font-family: sans-serif;
  height: 60px;
  /* text-decoration: none; */
  /* flex-direction: row;
  flex-wrap: nowrap; */
  /* grid-template-columns: 100% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: auto;
  border: solid black;
  justify-content: space-around;
  font-size: 16px;
  color: red;
  /* grid-template-areas:
  "navbar-brainfood navbar-home navbar-my-books navbar-search navbar-profile navbar-logout navbar-login" */
  /* "navbar-brainfood navbar-home navbar-my-books navbar-search navbar-search navbar-welcome-text navbar-profile navbar-logout navbar-login navbar-register"; */
}

.nav-left{
    /* grid-area: navbar-brainfood; */
    width: 40%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

#nav-middle {
    display: flex;
    justify-content: space-evenly;
}

#nav-right {
    display: flex;
    justify-content: space-evenly;
    font-size:20px;
}

#navbar-search {
    height: 30px;
    width: 400px;
}


.navbar .nav-buttons-div{
  height: 60px;
  padding: 5px;
  display:flex;
  align-items: center;
  /* background-color:gray; */

}

.navbar .nav-buttons-div:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.7);
}


#navbar-brainfood{
  text-decoration: none;
  color: black;
  font-weight: bold;
}


#navbar-home {
  /* grid-area: navbar-home;    */
  display: flex;
  justify-self: start;
  text-decoration: none;
  color: black;
  font-weight: bold;
}


#navbar-mybooks{
  text-decoration: none;
  color: black;
  font-weight: bold;

}

#navbar-profile-btn{
  background-image: url(/profile-icon.png);
  background-size: 55px;
  height: 45px;
  width: 55px;
  font-weight: bold;
}


.navbar-search-btn{
  /* background-image: url(/search-book.jpg); */
  /* background-position: center;
  background-size: 35px;
  height: 30px;
  width: 35px;
  outline: none;
  padding: 4px; */
  /* font-size: 1rem;
  color: #333;
  top: .75rem;
  left: .75rem;
  padding-right: 2.5rem; */
}
