.body-container{
  display: grid;
  grid-template-columns:15% 25% 25% 35% ;
  grid-template-rows:25% 25% 25% 25% ;
  grid-template-areas:
  '. image userName .'
  '.   .   details  .'
  '.  bookshelf   activity .'
  '.    .     .     .'
  ;
}

#person-image {
  display: flex;
  align-self: center;
  grid-area: image;
  border-radius: 50%;
  background: gray;
  width: 250px;
  height: 250px;
}

#user-name{
  grid-area: userName;
  font-weight: bold;
  font-size: 50px;
}

#Activity {
  grid-area: activity;
}

#Details {
  grid-area: details;
}

#persons-bookshelf {
  grid-area: bookshelf;
  font-weight: bold;
  font-size: 20px;
}

.books{
  text-decoration: none;
}



.center-info{
  display:flex;
  flex-direction: row;
  font-size: 30px;
  color:black;
  width: 40%;
}


#details {
  display: flex;
  align-content: flex-end;
  font-size: 30px;
  color:black;
  text-decoration: none;
}


#activity {
  font-size: 30px;
  color:black;
  text-decoration: none;
}


/* #person-image{
  border-radius: 50%;
  background: gray;
  width: 100px;
  height:100px;
}  */


.test{

}

#picture_details {
  display: flex;
  flex-direction: row;
  align-self: center;
  border: 5px solid black;
  height: 200px;
  width: 400px;
}

.outer {
  display: flex;
  height:100vh;
  width: 100vh;
  justify-content: center;
  /* top:; */
  /* bottom:;  */
}
