.body-container{
  display: flex;
  /* grid-template-columns:5% 20% 5% 60% 10% ;
  grid-template-rows:25% 25% 25% 25% ;
  grid-template-areas:
  '. image      .     .     .'
  '. userName   . favBooks  .'
  '. details    .     .     .'
  '. favGenre   .     .     .'
  ; */
  width: 100vh;
  height: 100vh;
}

#left-div{
  width: 100px;
  height: 100%;
}

#middle-div{
  width: 100px;
  height: 100%;
}


#right-div{
  width: 100px;
  height: 100%;
}

#person-image {
  grid-area: image;
  display: flex;
  justify-self: center;
  align-self: center;
  border-radius: 25px;
  background: gray;
  width: 300px;
  height: 350px;
}

#favorite-books{
  grid-area: favBooks;
  font-weight: bold;
  font-size: 35px;
}

#favorite-genre{
  grid-area: favGenre;
  font-weight: bold;
  font-size: 35px;
}

#user-name{
  display: flex;
  grid-area: userName;
  font-weight: bold;
  font-size: 40px;
  justify-self:center;
}

#Activity {
  grid-area: activity;
}

/* #Details {
  grid-area: details;
} */

#person-details {
  grid-area: details;
  font-weight: bold;
  font-size: 20px;
}

.books{
  text-decoration: none;
}



.center-info{
  display:flex;
  flex-direction: row;
  font-size: 30px;
  color:black;
  width: 40%;
}


#details {
  display: flex;
  align-content: flex-end;
  font-size: 30px;
  color:black;
  text-decoration: none;
}


#activity {
  font-size: 30px;
  color:black;
  text-decoration: none;
}


/* #person-image{
  border-radius: 50%;
  background: gray;
  width: 100px;
  height:100px;
}  */


.test{

}

#picture_details {
  display: flex;
  flex-direction: row;
  align-self: center;
  border: 5px solid black;
  height: 200px;
  width: 400px;
}

.outer {
  display: flex;
  height:100vh;
  width: 100vh;
  justify-content: center;
  /* top:; */
  /* bottom:;  */
}
