.form-container {
  background-color: #8e9aaf;
  margin: 20px auto;
  border: solid black 1px;
  border-radius: 5px;
  padding: 10px;
  /* display: flex; */
  text-align: center;
  width: 500px;
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  padding: 20px;
}

.user-label {
  padding: 10px;
}

.form-control {
  font-family: inherit;
  font-size: inherit;
  align-items: right;
}

.form-group {
  display: flex;
  flex-direction: row;
}

.form-group label {
  flex: none;
  display: block;
  width: 200px;
  font-weight: bold;
  font-size: 1em;
  text-align: right;
}

.form-group input {
  flex: 1 1 auto;
  display: block;
  margin-bottom: 10px;
  margin-right: 8px;
  margin-top: 8px;
}

.submit-div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.clear {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.sub-form a {
  color: white;
  text-decoration: none;
}

.sub-form {
  padding: 20px;
}

.img-container {
  margin: auto;
  display: block;
}

.user-content-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 100px auto auto;
}
