footer
  hr(class="line-over-contributors")
  div(class="footer")
    p(class="contributors") Developers:
    div(class="each-contributor") Jessica Thornton https://www.linkedin.com/in/jessica-thornton-00615989
      a(href="https://github.com/jmthorn" class="github-links")
        img(src="/images/linkedin.png" class="linkedin-logo")
      a(href="https://github.com/jmthorn" class="github-links")
        img(src="/images/github-logo.png" class="github-logo")
    div(class="each-contributor") Lisa Noor https://www.linkedin.com/in/lisa-noor-hoque-976120208
      img(src="/images/github-logo.png" class="github-logo")
      a(href="https://github.com/Skulllady" class="github-links")
    div(class="each-contributor") Keith Mellea https://www.linkedin.com/in/keith-mellea-8b9b13a6
      img(src="/images/github-logo.png" class="github-logo")
      a(href="https://github.com/keithmellea" class="github-links")
    div(class="each-contributor") Jonathan Chan https://www.linkedin.com/in/jonathan-chan8
      img(src="/images/github-logo.png" class="github-logo")
      a(href="https://github.com/Jc-008" class="github-links")
    //- div(class="each-contributor")
    //-   img(src="/images/github-logo.png" class="github-logo")
    //-   a(href="https://github.com/dshue20" class="github-links") Derek Shue (Advisor)
