extends layout.pug

append head
    link(rel="stylesheet" href="/stylesheets/index.css")
    script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  h2 Sustenance for your soul
  div(id='genre-div')
    div(class='genre-list') 
    div(class='genre-list')
    div(class='genre-list') 
    div(class='genre-list') 
    div(class='genre-list') 
    div(class='genre-list')
  div(id='api-div')