extends layout.pug

append head
    link(rel="stylesheet" href="/stylesheets/index.css")
    script(src="/javascripts/index.js" type="module" defer)

block content  
  div(id='genre-div' class="page-content background-image")
    div(class='genre-list' id="inOrderBooks")
      .scrolls
        each book in inOrderBooks
          img(src=`${book.cover}` class="img-div" height='200') 
    div(class='genre-list' id="orderAuthorBooks")
      .scrolls
        each book in orderAuthorBooks
          img(src=`${book.cover}` class="img-div" height='200') 
    div(class='genre-list' id="orderRatingBooks")
      .scrolls
        each book in orderRatingBooks
          img(src=`${book.cover}` class="img-div" height='200') 
    div(class='genre-list' id="orderTitleBooks")
      .scrolls
        each book in orderTitleBooks
          img(src=`${book.cover}` class="img-div" height='200') 
    div(class="quote-container")
      div(id="quote")