doctype html
html
  head
      block head
        title="BrainFood"
        link(rel='stylesheet' href='/stylesheets/navbar.css')
        link(rel='stylesheet' href='/stylesheets/user.css')
        link(rel='stylesheet' href='/stylesheets/global.css')
        script(src="https://kit.fontawesome.com/a229c5b13d.js" crossorigin="anonymous")
        link(rel='stylesheet' href='/stylesheets/footer.css')
        script(src="/javascripts/index.js")
  body
    nav(class='navbar')
      div(class='main-div-container')
        div(class='nav-left overlay' )
          div(class='nav-buttons-div')
            a(id='navbar-brainfood' href='/')
              img(src="/images/Temp_Logo.png" id='navLogo' width='150' height='55')
            //- a(id='logo-sig' href='/') BrainFood
          div(class='nav-buttons-div')
            a(class='nav-link' id='navbar-home' href="/") Home
          div(class='nav-buttons-div')
            a(class='nav-link' id='navbar-mybooks' href="/bookshelves") My Books
        div(id='nav-middle' )
          input(type="search" name="term" id='navbar-search' placeholder="Search Books" required)
          //- button(type='submit' class='navbar-search-btn')
          i.fas.fa-search
          //- 🔍
        if user
            div(id='outer-right-container')
              div(id='logged-in-display')
                a(href=`/users/profile/${user.id}` id='for-profile')
                  if !user.image
                    img(src='/profile-icon.png' id='default-profile-pic')
                  else
                    img(src= user.image class='nav-link' id="navbar-profile-btn")
                span(id='navbar-welcome-text') Welcome #{user.username}!
                form(action='/users/logout' method='post')
                  div(class='nav-buttons-div')
                    button(id='nav-logout' type='submit') Logout
        else
          div(id='nav-right' class='navbar-profile')
            div(class='nav-buttons-div')
              a(href="/users/login" id='navbar-login') Login
            div(class='nav-buttons-div')
              a(href="/users/signup" id='navbar-signup') Sign Up

    block content

    footer
      div(class="footer")
        p(class="contributors") Built By:
          img(src="/images/github-logo.png" class="github-logo")
        a(href="https://github.com/dshue20" class="github-links") Derek Shue (Advisor),
        a(href="https://github.com/jmthorn" class="github-links") Jessica Thornton,
        a(href="https://github.com/Jc-008" class="github-links") Jonathan Chan,
        a(href="https://github.com/keithmellea" class="github-links") Keith Mellea,
        a(href="https://github.com/Skulllady" class="github-links") Lisa Noor
