extends layout.pug

include utils.pug

block content
  div(class="user-content-container")
    div(class="img-container")
      img(src="/images/logotemp-1.png" alt="No image" width="200px")
    +validationErrorSummary(errors)
    div(class="form-container")
      h1(class="form-header") Log In
      form(action="/users/login" method="post" class="user-form")
        input(type="hidden" name="_csrf" value=csrfToken)
        +field("Username", "username", username)
        +field("Password", "password", null, "password")
        div(class = "submit-div")
          button(type="submit", class='btn submit') Login
          a(href="/users/login" class="a clear") Clear
      div(class="sub-form")
        p: a(href="/users/signup") Don't have an account?
      div
        button(type='button' id='demo-button') Demo User
