/* @import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap"); */

/* NEW REVIEW STYLING =============================================== */

.review-header {
  text-align: center;
  color: rgb(221, 218, 218);
  margin-bottom: 20px;
  font-size: 32px;
}

.review-form {
  position: relative;
}

.new-review-textarea {
  position: absolute;
  width: 1300px;
  height: 150px;
  right: 8px;
  margin: 30px;
  border-radius: 20px;
  padding: 20px;
  font-size: 20px;
  font-style: italic;
  background-color: rgb(197, 193, 184);
}

.rating {
  text-align: center;
}

#submit-review {
  margin: 0;
  position: absolute;
  bottom: -200px;
  right: 70px;
  width: 100px;
  font-size: 15px;
  background-color: rgba(113, 125, 146, 0.932);
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 0 10px white;
}

.new-review {
  width: 1400px;
  height: 300px;
  background-color: rgba(142, 154, 175, 0.548);
  margin-top: 220px;
  padding: 40px;
  /* border:  */
  border-radius: 20px;
  /* display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; */
}

.review-timestamp {
  font-size: 6px;
}

.review-container {
  margin: 30px;
  width: 800px;
}

/* MAIN GRID AREAS ==================================================== */

.book-sidebar {
  grid-area: sidebar;
  justify-self: start;
  align-self: center;
}

.book-cover {
  grid-area: cover;
  justify-self: end;
  align-self: center;
}

.book-info {
  grid-area: description;
  justify-self: end;
  align-self: center;
}

.new-review-container {
  grid-area: img;
  /* background-color: blue; */
  background-image: url("../images/Book2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.existing-reviews {
  grid-area: reviews;
}

.page-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 600px 800px 600px 100px;
  grid-template-areas:
    ". . ."
    "cover description sidebar"
    "img img img"
    ". reviews ."
    ". . .";
  column-gap: 30px;
  row-gap: 50px;
}

/* MODAL ================================================================= */

.modal-show {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.hidden {
  display: none;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
