/* @import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap"); */

/* NEW REVIEW STYLING =============================================== */

.review-header {
  text-align: center;
  color: rgb(221, 218, 218);
  margin-bottom: 20px;
  font-size: 32px;
}

.review-form {
  position: relative;
}

.new-review-textarea {
  position: absolute;
  width: 1300px;
  height: 150px;
  right: 8px;
  margin: 30px;
  border-radius: 20px;
  padding: 20px;
  font-size: 20px;
  font-style: italic;
  background-color: rgb(212, 209, 201);
}

.rating {
  text-align: center;
}

#submit-review {
  margin: 0;
  position: absolute;
  bottom: -200px;
  right: 70px;
  width: 100px;
  font-size: 15px;
  background-color: rgba(113, 125, 146, 0.932);
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 0 10px rgb(179, 175, 175);
}

.new-review {
  width: 1400px;
  height: 300px;
  background-color: rgba(142, 154, 175, 0.548);
  margin-top: 220px;
  padding: 40px;
  border-radius: 20px;
}

.review-timestamp {
  font-size: 6px;
  /* display: block; */
  float: absolute;
}

.review-container {
  margin: 30px;
  width: 700px;
}

/* MAIN GRID AREAS ==================================================== */

.book-sidebar {
  grid-area: sidebar;
  justify-self: start;
  align-self: start;
  position: relative;
}

.book-cover {
  grid-area: cover;
  justify-self: end;
  align-self: center;
}

.book-info {
  grid-area: description;
  justify-self: start;
  align-self: start;
}

.new-review-container {
  grid-area: img;
  /* background-color: blue; */
  background-image: url("../images/Book2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.existing-reviews {
  grid-area: reviews;
}

.page-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 250px 600px 800px 600px 300px;
  grid-template-areas:
    ". . ."
    "cover description sidebar"
    "img img img"
    ". reviews ."
    ". . .";
  column-gap: 30px;
  row-gap: 50px;
}

/* MODAL ================================================================= */

.modal-show {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.hidden {
  display: none;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* BOOK CONTENT ======================================================= */

.book-button-container {
  display: flex;
  justify-content: center;
  align-content: space-around;
  padding: 10px;
}

.book-button-container button {
  background-color: rgba(185, 162, 182, 0.829);
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(163, 162, 162);
  font-size: 15px;
  padding: 5px;
  width: 90px;
  margin: 20px;
}

.book-info {
  display: flex;
  width: 600px;
  flex-direction: column;
  justify-content: flex-start;
}

.book-cover {
}

.book-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.book-author {
  font-size: 24px;
  margin-bottom: 20px;
}

.book-published {
  font-size: 20px;
  margin-bottom: 50px;
}

/* BOOK SIDEBAR ======================================= ========== */

.addToBksf {
  background-color: rgba(142, 154, 175, 0.699);
  width: 300px;
  height: 100px;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

.tag-container {
  margin-top: 30px;
  background-color: rgba(142, 154, 175, 0.699);
  width: 300px;
  height: 300px;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

.book-sidebar label {
  font-size: 25px;
  color: white;
  top: 20px;
}

.bookshelves-dropdown {
  background-color: rgba(212, 209, 201, 0);
  /* border-radius: 20px; */
  border-top: none;
  border-right: none;
  border-left: none;
}

.add-tag-form {
  background-color: rgb(212, 209, 201);
  position: absolute;
  bottom: 30px;
  height: 40px;
  width: 280px;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  align-content: center;
  justify-content: center;
}

#addToBkshlf {
  background-color: rgb(212, 209, 201);
  position: absolute;
  height: 40px;
  width: 280px;
  bottom: 25px;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.tag-input {
  background-color: rgba(212, 209, 201, 0);
  /* border-radius: 20px; */
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: none;
  padding-left: 10px;
  border-bottom: 1px solid rgb(129, 129, 129);
  height: 30px;
}

.bookshelves-dropdown {
  border-bottom: 1px solid rgb(141, 140, 140);
  width: 180px;
  font-size: 14px;
}

.btn {
  background-color: rgba(142, 154, 175, 1);
  color: rgb(229, 226, 226);
  border: none;
  border-radius: 20px;
  width: 80px;
}

.book-tag {
  margin: 5px;
  border-radius: 20px;
  background-color: rgba(142, 154, 175, 1);
  padding: 10px 15px;
  display: block;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}
