html {
  font-family: "Noto Sans JP", sans-serif;
}

.all-content {
  display: flex;
}

.add-shelf-span {
  padding-top: 100px;
  position: absolute;
  bottom: 35px;
  left: 40px;
}

input {
  padding-top: 10px;
}

#add-shelf {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding-top: 10px;
}

a:hover {
  text-decoration: underline;
}

a {
  color: #4c5460;
  text-decoration: none;
}

#no-books-div {
  display: flex;
  justify-content: center;
  padding-left: 100px;
  padding-top: 200px;
}


#my-books-div {
  position: flex;
  left: 10%;
  bottom: 20%;
  padding-top: 100px;
  /* grid-template-areas:
    "1 2 3 4 5",
    "1 2 3 4 5",
    "1 2 3 4 5",
    "1 2 3 4 5";
    grid-template-columns: auto;
    grid-template-rows: auto; */
}

#my-books-text {
  font-size: 35px;
  padding-bottom: 15px;
}



#main-table {
  /* grid-row-start: 3;
    grid-column-start: 3; */
  /* grid-area: table; */
  /* justify-self: start; */
  padding-left: 100px;
  padding-top: 200px;
  padding-bottom: 15px;
  font-size: 30px;
  text-align: center;
}

th,
td {
  border-bottom: 1px solid rgb(126, 125, 125);
  width: 200px;
  height: 100px;
  text-align: center;
}

.book_table {
  border-top: 1px solid black;
  padding: 5%;
}

#add-books {
  width: auto;
  height: auto;
  background-color: #dee2ff;
  text-align: center;
}

.add-book {
  cursor: pointer;
}
/*
@media all and (max-width: 800px) {
  #bookshelves {
    position: fixed;
    right: 250px;
    top: 250px;
  }
} */

#bookshelves,
#tools {
  background-color: rgba(142, 154, 175, 0.548);
  border: none;
  /* padding: 100px; */
  /* margin: 0; */
  text-align: start;
  min-height: 500px;
  max-height: 600px;
  height: auto;
  min-width: 250px;
  text-align: none;
  padding: 20px;
  border-radius: 10px;
}

#bkslflabel {
  color: white;
  margin-bottom: 10px;
}

#add-books-link {
  padding-top: 20px;
  color: #4c5460;
}

#ul-bookshelves {
  padding-bottom: 30px;
  left: 10px;
  top: 0px;
  height: 450px;
  position: relative;
  overflow-y: hidden;
}

#delete-button {
  padding-left: 10px;
}

#bookshelves {
  font-size: 30px;
  position: relative;
}

.bookshelf-li {
  font-size: 20px;
  cursor: pointer;
}

.book_thead {
  text-align: center;
}

.indivBookContainer {
  padding: 10px;
}

.all-content {
  display: flex;
  justify-content: center;
}

.header {
  height: 200px;
}

th {
  padding: 5px;
}

#add-shelf-button {
  cursor: pointer;
  font-size: 20px;
  background-color: rgba(113, 125, 146, 0.932);
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 0 10px white;
  color: white;
  margin-left: 10px;
}

.modal-show {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.hidden {
  display: none;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
