@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

* {
  font-family: "Noto Sans JP", "San Francisco", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0;
  /* box-sizing: border-box; */
  /* background-color: #EFD3D7; */
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0 0;
  /* position: relative;
  overflow: hidden; */
}

.background-image {
  background-image: url("../images/Books-background-rotated.jpeg");
  background-position-y: -380px;
  background-position-x: center;
  background-repeat: no-repeat;
  height: 800px;
}

.btn {
  font-size: 20px;
  background-color: rgba(113, 125, 146, 0.932);
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 0 10px white;
  color: white;
}
