.genre-list {
  width: 1200px;
  height: 200px;
  background-color: ;
}

#quote {
  width: 1400px;
  height: 200px;
  background-color: rgba(142, 154, 175, 0.548);
  margin-top: 280px;
  padding: 40px;
  border-radius: 20px;
}

/* MAIN GRID AREAS ==================================================== */

#inOrderBooks {
  grid-area: inOrderBooks;
  justify-self: center;
  align-self: center;
  overflow: hidden;
}

#orderAuthorBooks {
  grid-area: orderAuthorBooks;
  justify-self: center;
  align-self: center;
  overflow: hidden;
}

#orderRatingBooks {
  grid-area: orderRatingBooks;
  justify-self: center;
  align-self: center;
  overflow: hidden;
}

#orderTitleBooks {
  grid-area: orderTitleBooks;
  justify-self: center;
  align-self: center;
  overflow: hidden;
}

.quote-container {
  grid-area: quote;
  background-image: url("../images/Book2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.page-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 250px 300px 300px 800px 300px 300px 300px;
  grid-template-areas:
    ". . ."
    "inOrderBooks inOrderBooks inOrderBooks"
    "orderAuthorBooks orderAuthorBooks orderAuthorBooks"
    "quote quote quote"
    "orderRatingBooks orderRatingBooks orderRatingBooks"
    "orderTitleBooks orderTitleBooks orderTitleBooks"
    ". . .";
  column-gap: 30px;
  row-gap: 50px;
}
