/* nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: white;
  align-items: center;
  font-family: sans-serif;
  height: 150px;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, .25)
  /* text-decoration: none; */
/* flex-direction: row;
  flex-wrap: nowrap; */
/* grid-template-columns: 100% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: auto;
  border: solid black;
  justify-content: space-around;
  font-size: 16px;
  color: red;
  /* grid-template-areas:
  "navbar-brainfood navbar-home navbar-my-books navbar-search navbar-profile navbar-logout navbar-login" */
/* "navbar-brainfood navbar-home navbar-my-books navbar-search navbar-search navbar-welcome-text navbar-profile navbar-logout navbar-login navbar-register"; */
/* } */

.main-div-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  /* background-color: white; */
  /* background-image: url(/images/Books-background-rotated.jpeg); */

  align-items: center;
  font-family: sans-serif;
  height: 350px;
  position: absolute;
  width: 100%;
  /* box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, .25) */
}

#navbar-brainfood {
  text-decoration: none;
  color: black;
}

#logo-sig {
  font-family: "Tangerine", cursive;
  font-weight: 300;
  font-size: 30px;
  color: black;
  text-decoration: none;
}

.nav-left {
  /* grid-area: navbar-brainfood; */
  width: 50%;
  display: flex;
  justify-content: space-around;
  height: 36px;
  font-size: 20px;
}

#nav-middle {
  display: flex;
  justify-content: space-evenly;
}

#nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
  width: 25%;
  height: 36px;
}

#outer-right-container {
  display: flex;
  justify-content: flex-end;
  width: 350px;
  margin-right: 50px;
}

#navbar-search {
  height: 30px;
  width: 550px;
}

.main-div-container .nav-buttons-div:hover {
  /* height: 60px; */
  /* padding: 5px; */
  display: flex;
  align-items: center;
  color: rgba(142, 154, 175, 0.8);
  transform: color 1s linear;

  /* background-color: rgba(255, 255, 255, 0.7); */
  /* background-color:gray; */
}

/* .navbar .nav-buttons-div:hover {
  height: 60px;
  /* padding: 5px; */
/* display: flex;
  align-items: center;
  color: rgb(142, 154, 175); */

/* background-color: rgba(255, 255, 255, 0.7); */
/* background-color:gray; */

/* } */

#navbar-brainfood {
  /* text-decoration: none;*/
  /* background-image: url(public/logotemp-1.png);
  background-size: 50px; */
  /* color: black; */
  /* font-weight: bold; */
}

#navLogo {
  background: transparent;
  position: relative;
  top: -20px;
}

#navbar-home {
  /* grid-area: navbar-home;    */
  display: flex;
  justify-self: start;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#navbar-mybooks {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.fa-search {
  margin-left: -22px;
  margin-top: 8px;
  height: 25px;
  width: 25px;
}

#navbar-profile-btn {
  /* background-image: url(/images/Temp_Logo.png); */
  background-size: 200px;
  height: 100x;
  width: 70px;
  font-weight: bold;
  border-radius: 15px;
}

#nav-logout {
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.navbar-search-btn {
  /* background-image: url(/search-mag.jpg);
  background-position: center;
  background-size: 29px;
  height: 30px;
  width: 35px;
  outline: none; */
  /* padding: 4px; */
  /* font-size: 1rem;
  color: #333;
  top: .75rem;
  left: .75rem;
  padding-right: 2.5rem; */
  /* margin-left: -32px;
  background-color : white;
  outline: none; */
  /* margin-top: px; */
}

#navbar-welcome-text {
  color: black;
  font-weight: 700;
  font-size: 15px;
}

#logged-in-display {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

#navbar-logout {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#navbar-login {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#navbar-signup {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* div#nav-right {
  background-color: red;
  border: 2px solid black;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column; */

#default-profile-pic {
  height: 65px;
  width: 65px;
}

#for-profile {
  background-size: 200px;
  height: 100x;
  width: 70px;
  font-weight: bold;
  border-radius: 15px;
}

#navbar-search {
  background-color: RGB(239, 211, 215);
  height: 40px;
  color: grey;
  border-radius: 5px;
  width: 600px;
  padding: 15px;
  font-style: italic;
  border: none;
}
