.body-container{
  display: flex;
  /* grid-template-columns:5% 20% 5% 60% 10% ;
  grid-template-rows:25% 25% 25% 25% ;
  grid-template-areas:
  '. image      .     .     .'
  '. userName   . favBooks  .'
  '. details    .     .     .'
  '. favGenre   .     .     .'
  ; */
  width: 100%;
  height: 100%;
  /* background-color: lightpink; */
}

#main-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  height: 884px;
  width: 723px;
  margin-top: 289px;
  margin-left: 1095px;

}


#left-div{
  width: 285px;
  height: 100%;
  background-color: lightblue;
}

#middle-div{
  display: flex;
  flex-direction: column;
}

#space-div{
  width: 200px;
  background-color: lightcoral;
}


#right-div{
  width: 115%;
  height: 100%;
  background-color: lightgoldenrodyellow;
}


.profile-img {
  width: 375px;
  height: 375px;
  margin-top: -307px;
  margin-left: -1073px;
  border-radius: 15px;
}


#edit-btn-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -1774px;
}

#modal-button {
  /* border-radius: 20px;
  margin: 15px;
  width: 65px; */
  background-color:rgba(185, 162, 182, 0.829);
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(163 162 162);
  font-size: 15px;
  padding: 5px;
  width: 90px;
  margin: 20px;
}

#delete-btn {
  /* border-radius: 20px;
  margin: 15px;
  width: 65px; */
  background-color:rgba(185, 162, 182, 0.829);
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(163 162 162);
  font-size: 15px;
  padding: 5px;
  width: 90px;
  margin: 20px;
}



#favorite-books{

}



.userName{
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 30px;
  justify-self: center;
  /* margin-top: -215px;
  margin-left: -584px; */
}

#username-value{
  font-weight: bolder;
}

/*
#person-details {
  grid-area: details;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
} */



/* #email {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-size: 25px;
  width: 500px;
  margin-top: 10px;
  margin-left: -584px;
} */


.booksRead{
  font-weight: bold;
  font-size: 20px;
}

.fav-book-items{
  margin-bottom: 100px;
}

.favorite-books-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgba(142, 154, 175, 0.548);
    border: 1px solid black;
    border-radius: 35px;
}

#fav-book-container {
  display:flex;
  flex-direction: column;
}

#person-details-container2{
  display:flex;
  flex-direction: column;
}

.books{
  display: flex;
  flex-direction: column;
  width: 200px;
  /* max-height: 8em;
  max-width: 6em; */
  /* margin: 6px; */
  padding: 16px;
}

.modal-show {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.hidden {
  display: none;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 65%; /* Could be more or less, depending on screen size */
}
