.body-container{
  display: flex;
  /* grid-template-columns:5% 20% 5% 60% 10% ;
  grid-template-rows:25% 25% 25% 25% ;
  grid-template-areas:
  '. image      .     .     .'
  '. userName   . favBooks  .'
  '. details    .     .     .'
  '. favGenre   .     .     .'
  ; */
  width: 100%;
  height: 100%;
}

#left-div{
  width: 600px;
  height: 100%;
}

#middle-div{
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 100%;

}

#space-div{
  width: 400px;
}


#right-div{
  width:100%;
  height: 100%;
}

#profile-img {
  width: 30em;
  height: 30em;
}



/* .person-image {
  justify-self: center;
  align-self: center;
  border-radius: 25px;
  background-position: center;
  object-fit: cover;
  width: 250px;
  height: 400px;
} */

.person-image-container{
  display: flex;
  justify-content: center;
  margin-top: 150px;
  /* top:50px; */

}

.user-name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}

#user-name{
  display:flex;
  flex-direction: row;
}


#fav-book-container{
  display: flex;
  justify-content: start;
  margin-top: 400px;
}

#favorite-books{
  font-weight: bold;
  font-size: 35px;
}

#favorite-genre{
  grid-area: favGenre;
  font-weight: bold;
  font-size: 35px;
}

#user-name{
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 40px;
  justify-self:center;
}

/* #Details {
  grid-area: details;
} */

#person-details-container{
  display: flex;
  margin-right: 100px;
}

#person-details {
  grid-area: details;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  /* border-bottom: 5px solid black; */
}

#person-details-container1{
  display: flex;
  margin-right: 100px;
  width: 500px;
}

#email {
  display:flex;
  align-content: center;
  font-weight: bold;
  font-size: 20px;
  width: 240px;
}

#person-details-container2 {
  display: flex;
  justify-content: flex-start;
  margin-top: 150px;
}

.booksRead{
  font-weight: bold;
  font-size: 20px;
}


.favorite-books-top,
.favorite-books-bottom {
  display: flex;
  /* flex-wrap: wrap; */
  /* max-width: 50%;
  max-height: 50%; */
  align-items: center;
  /* height: 200px;
  width: 200px; */
  /* object-fit: cover; */
  /* overflow: hidden; */
}

.books{
  max-height: 25em;
  max-width: 25em;
}
/*
#favorite-books-top1,
#favorite-books-top2,
#favorite-books-top3,
#favorite-books-top4,
#favorite-books-top5,
#favorite-books-top6 {
  border: 5px solid red;
  width: 250px;
  height: 250px;
  margin-right: 100px;
  border-radius: 25px;
} */


#edit-btn-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.edit-btn {
  border-radius: 25px;
  margin: 22px;
  width: 50px;
}



.modal-show {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.hidden {
  display: none;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
