.around-form-container{
  /* box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, .25); */
}

.form-container {
  background-color: #8e9aaf;
  color: white;
  margin: 20px auto;
  border: solid black 1px;
  border-radius: 20px;
  padding: 10px;
  /* display: flex;
  padding-top: 10vh; */
  text-align: center;
  width: 500px;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, .35);
  min-height: 30vh;
  min-width: 30vh;
  opacity: 0.8;
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  padding: 20px;
}

.user-label {
  padding: 10px;
}

.form-control {
  font-family: inherit;
  font-size: inherit;
  align-items: right;
}

.form-group {
  display: flex;
  flex-direction: row;
}

.form-group label {
  flex: none;
  display: block;
  width: 200px;
  font-weight: bold;
  font-size: 1em;
  text-align: right;
}

.form-group input {
  flex: 1 1 auto;
  display: block;
  margin-bottom: 10px;
  margin-right: 8px;
  margin-top: 8px;
  font-size: 1em;
}

.submit-div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.clear {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.sub-form a {
  color: white;
  text-decoration: none;
}

.sub-form {
  padding: 20px;
}

.img-container {
  margin: auto;
  display: block;
}

.img-container img {
  width: 300px;
}

.user-content-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.signup-login-background{
  bottom: 70px;
  min-height: 50vh;
  padding-top: 15px;
}

.signup-login-background-image-container{
 background-image: url("/images/books-background.jpg");
 background-repeat: no-repeat;
 background-size: cover;
}

.demo-div {
  float: right;
  padding-right: 50px;
}

.btn.demo-div {
  background-color: white;
}

button.btn.demo-button{
  font-size: 20px;
  box-shadow: 0 0 10px rgb(211, 140, 140);
}
